{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Member</h1>
    {% if app.user and app.user.id != member.id %}
    <form action="{{ path('members.follow') }}" method="POST">
        <input type="hidden" name="member_target"value="{{ member.id }}" />
        <button type="submit">Follow</button>
    </form>
        <form action="{{ path('network.conversation') }}" method="POST">
            <input type="hidden" name="member_target"value="{{ member.id }}" />
            <button type="submit">Start Conversation</button>
        </form>
    {% endif %}
    <div class="box">
        <p>Фамилия: {{ member.last_name }}</p>
        <p>Пол: {{ member.gender }}</p>
        <p>Город: {{ member.city }}</p>
        <p>ДР: {{ member.birth_at }}</p>
        <p>Интересы:</p>
        <p>{{ member.interests }}</p>
    </div>
    <h3>Посты: </h3>
    {% if app.user %}
    <div class="box">
        <form action="{{ path('members.posts.create') }}" method="POST">
            <input type="hidden" name="target_user_id" value="{{ member.id }}">
            <input type="hidden" name="actor" value="{{ app.user.id }}">
            <textarea name="content" cols="30" rows="10"></textarea>
            <button type="submit">Опубликовать пост</button>
        </form>
    </div>
    {% endif %}

    {% for post in posts %}
        <div class="row">
            <div class="col-12">
                <div class="row meta">
                    <div class="col-6">
                        <a href="{{ path('members.show', {'id': post.author_id}) }}">От {{ post.author_name }}</a>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-6">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}