{% extends 'mail.html.twig' %}

{% block title %} Password Reset {% endblock %}

{% block body %}
    <p>Password Reset Link:</p>
    {% set url = url('auth.reset.reset',{'token':token}) %}

    <p><a href="{{ url }}">{{url}}</a></p>
{% endblock %}