{% extends 'auth.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        {% include '_flashes.html.twig' %}

                        <h1>Sign Up</h1>

                        <p class="text-muted">Create your account</p>

                        {{ form_start(form) }}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Имя</span>
                            </div>
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Фамилия</span>
                            </div>
                            {{ form_widget(form.last_name) }}
                            {{ form_errors(form.last_name) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-group mb-3">
                            <label for="">Дата рождения</label><br>
                            {{ form_widget(form.birth_at) }}
                            {{ form_errors(form.birth_at) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Город</span>
                            </div>
                            {{ form_widget(form.city) }}
                            {{ form_errors(form.city) }}
                        </div>

                        <div class="input-group mb-3">
                            {{ form_widget(form.interests, {'attr': {'placeholder': 'Интересы'}}) }}
                            {{ form_errors(form.interests) }}
                        </div>

                        <div class="input-group mb-3">
                            <label for="">Пол</label>
                            {{ form_widget(form.gender) }}
                            {{ form_errors(form.gender) }}
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-lock"></i>
                                </span>
                            </div>
                            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <button type="submit" class="btn btn-block btn-success">Create Account</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}