{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Messaging with '{{ member.name }}'</h1>
    <div id="dialog-block">
        <ul>
    {% for message in messages %}
        <li>
            <div class="message-block">
                {% if message.from_member == member.id %}
                    <p class="message-text message-left" style="text-align: left">
                {% elseif message.from_member == app.user.id %}
                    <p class="message-text message-right" style="text-align: right">
                {% else %}
                    <p class="message-text message-center">
                {% endif %}
                {{ message.message }}
                 </p>
            </div>
        </li>
    {% endfor %}
        </ul>
    </div>
    <div id="new-messsage-block">
        <form action="{{ path('network.conversation.send') }}" method="POST">
            <input type="hidden" name="to" value="{{ member.id }}"></input>
            <textarea name="message">

            </textarea>
            <button type="submit">SEND</button>
        </form>
    </div>
{% endblock %}