{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Messages</h1>
    <ul>
        {% for conversation in conversations %}
            <li>
                <a href="{{ path('network.conversation',{'member_target':conversation.member_id}) }}">{{ conversation.member_name ?: 'unknown' }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}