{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <h1>Members</h1>
        </div>
        <div class="col-5">
            <form action="{{ path('home') }}" method="GET" class="form-inline" style="padding-top: 7px;">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="key" placeholder="Поиск..." value="{{ filter.name }}">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Найти</button>
            </form>
        </div>
    </div>
    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td><a href="{{ path('members.show', {'id': member.id}) }}">{{ member.name }}</a></td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}