{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>News</h1>
    <ul>
        {% for post in news %}
        <li>
            <p>Date: {{ post.CreatedAt }}</p>
            <p>Author: {{ post.AuthorName }}</p>
            <p>{{ post.Content }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}