{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Hello {{ app.user.name }}!</h1>
    <p>Ваши данные:</p>
    <p>Фамилия: {{ app.user.lastName }}</p>
    <p>Пол: {{ app.user.gender }}</p>
    <p>Город: {{ app.user.city }}</p>
    <p>ДР: {{ app.user.birthAt }}</p>
    <p>Интересы:</p>
    <p>{{ app.user.interests }}</p>
{% endblock %}