<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <a class="navbar-brand" href="{{ path('home') }}">Network</a>
    <ul class="nav navbar-nav ml-auto mr-4">
        {% if not app.user %}
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" href="{{ path('app_login') }}" role="button">
                Login
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" href="{{ path('auth.signup') }}" role="button">
                SignUp
            </a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
                <a class="nav-link nav-link" href="{{ path('network.followers') }}" role="button">
                    Followers
                </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" href="{{ path('network.followings') }}" role="button">
                Followings
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" href="{{ path('network.news') }}" role="button">
               News
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" href="{{ path('network.conversations') }}" role="button">
                Messages
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username }}({{ app.user.name }})
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" href="{{ path('profile') }}"><i class="fa fa-lock"></i> Profile</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        {% endif %}
    </ul>
</header>
<div class="app-body">
    <main class="main">
{#        {% block breadcrumbs %}{% endblock %}#}
        <div class="container-fluid">
            {% include '_flashes.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <span>© {{ "now"|date("Y") }} All rights reserved</span>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>